body {
    background-color: #2b59a4;
    color: #fdd21c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 40px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    
    font-weight: 500;
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
}

img {
    max-width: 500px;
    max-height: 500px;
}